.logout_button1 {
  background-color: black; /* Change this to your preferred color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.logout_button1 a {
  color: white;
  text-decoration: none;
}

.logout_button1:hover {
  background-color: grey; /* Change to a darker shade on hover */
}
